/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.padded-2 {
    padding: 2%;
}

.padded-3 {
    padding: 3%;
}


tbody tr:nth-of-type(odd) {
    background-color: whitesmoke
}

tbody tr:nth-of-type(odd) button {
    background-color: whitesmoke
}
